
mona

\#.*

.#mona.c

jp.png


portrait.png

portrait.xcf

CMakeFiles/*
CMakeScripts/*
src/CMakeScripts/*
src/CMakeFiles/*
src/Debug/*
mona.build/*
mona.xcodeproj/*
MonaLearning.build/*
src/MonaLearning.build/*
MonaLearning.xcodeproj/*
CMakeCache.txt
Makefile

*.swp

.#main.c


*.c#

src/cmake_install.cmake

cmake_install.cmake
